* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


#global {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 100%;
    z-index: -1;
    background-color: #48BFE3;
}


#bottom {
    position: absolute;
    bottom: 0;
}

#depense {
    margin-top: 1%;
    z-index: 10;
    width: calc((100% / 3) - 5%);
    height: min-content;
    background-color: #72EFDD;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.2);
}

#recette {
    margin-top: 1%;
    width: calc((100% / 3) - 5%);
    height: min-content;
    background-color: #72EFDD;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.2);
}

#epargne {
    margin-top: 1%;
    width: calc((100% / 3) - 5%);
    height: min-content;
    background-color: #72EFDD;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.2);

}

#resultat {
    width: calc((100% / 3) - 5%);
    height: 40%;
    position: relative;
    left: 10%;
    background-color: #72EFDD;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    background-color: #4EA8DE;
    color: burlywood;
    margin: 2%;
    border-radius: 20px 20px 20px 20px;
}

input, input::placeholder {
    background-color: #85C1E9;
    color: indianred;
    width: 40%;
    margin: 2%;
    border: none;
}

input:focus {
    outline: none;
}

.calcule {
    margin: 2%;
    width: 96%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button {
    width: 10%;
    height: 10%;
    background-color: #72EFDD;
    font-size: 3rem;
    color: crimson;
    border-radius: 20px 20px 20px 20px;
    border: white 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.button:hover {
    border: 1px solid crimson;
}

#toPlace {
    padding: 1%;
    background-color: #72EFDD;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.2);
    border: 1px solid indianred;
    font-size: 2rem;
    color: crimson;
}

#resultatSumm {
    color: crimson;
    font-size: 3rem;
    text-align: center;
}

@media screen and (max-width: 1400px){
    .button{
        font-size: 2rem;
    }
}

@media screen and (max-width: 700px){
    .button{
        font-size: 1rem;
    }
    #depense, #recette, #epargne {
        width: 100%;
    }
    #resultat {
        width: 50%;
        position: relative;
        left: 0;
        height: min-content;
    }
}